<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>org.apache.Solr</string>
  <key>ProgramArguments</key>
  <array>
    <string>java</string>
    <string>-jar</string>
    <string>/usr/lib/solr/example/start.jar</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>WorkingDirectory</key>
  <string>/usr/lib/solr/example/</string>
  <key>ServiceDescription</key>
  <string>Apache Solr Server</string>
  <key>StandardErrorPath</key>
  <string>/var/log/solr/solr-error.log</string>
  <key>StandardOutPath</key>
  <string>/var/log/solr/solr-output.log</string>
</dict>
</plist>
